#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Adjust the card layout to display three cards per row */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  flex: 0 0 calc(50% - 1rem); /* Adjust the width to fit two cards */
  max-width: calc(50% - 1rem); /* Adjust the width to fit two cards */
  margin-bottom: 2rem;
}


.img{
  
  width: 300px;
  height: 300px;
  border: 10px;
  border-radius: 10px;
  margin: 20px;
  
}

.cardd{
  background:#ffffff6a;
 
}

.cardd:hover{
  background:#f4dcfff3;
}


.description{
  text-align: left;
  margin: 0;
  padding: 10px;
  color: rgb(51, 51, 51);
  font-weight: bolder;
 font-size: larger;
}

.title{
  color: rgb(51, 51, 51);
  font-weight: bolder;
 font-size: 25px;
 padding-top: 20px ;
 padding-bottom: 10px;
}



.btnn{
 
  background-color: rgb(3, 142, 255);
  color: rgb(255, 255, 255);
  font-weight: bolder;
 font-size: larger;
 padding : 20px;
 margin-bottom: 20px;
}

.total {
  display: flex;
  flex-direction: column; /* Arrange content in a column */
  align-items: flex-end; /* Align items to the right side horizontally */
  border: 2px solid rgb(228, 228, 228);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 1000px;
  margin-top: 100px;

  
}

.total button {
  margin-top: 10px;
  width : 200px ;
  height :  50px ;
  margin-bottom: 20px; 
  margin-right: 20px; 
  background-color: rgb(253, 226, 130);
  font-weight: bolder;
  color: black;/* Add spacing between the text and the button */
}


