.home-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imageHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.homeButton {
  position: absolute;
  z-index: 1; /* Ensure the button is above the image */
  /* Add any additional styling for your button */
  border: none;
  background-color: #007bff;
  color: #fff;
  margin-right:200px;
  cursor: pointer;
  padding: 20px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  font-size: 26px;
  animation: blink 1s infinite, changeColors 1s infinite alternate;
}
@keyframes changeColors {
  0% {
    background-color: #ff0000; /* Red */
    color: #fff; /* White */
  }
  25% {
    background-color: #00ff00; /* Green */
    color: #000; /* Black */
  }
  50% {
    background-color: #0000ff; /* Blue */
    color: #fff; /* White */
  }
  75% {
    background-color: #ffff00; /* Yellow */
    color: #000; /* Black */
  }
  100% {
    background-color: #ff00ff; /* Purple */
    color: #fff; /* White */
  }
}


.imageHome{
    -webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

  .tracking-in-contract-bck-top {
    -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  @-webkit-keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  